<link rel="stylesheet" type="text/css" href="~/css/call.css">

<input id="roomId_" value="@ViewBag.RoomId" hidden />
<input id="username_" value="@ViewBag.Username" hidden />
<input id="muteAudio_" value="@ViewBag.MuteAudio" hidden />
<input id="muteVideo_" value="@ViewBag.MuteVideo" hidden />


<button class="btn btn-danger rounded" id="toggle-mic">Toggle Microphone</button>
<button class="btn btn-danger rounded"  id="toggle-camera">Toggle Camera</button>
<button class="btn btn-danger rounded"  id="share-screen">Share Screen</button>
<div id="localContainer" class="media-container">
    <video id="localVideo" autoplay muted playsinline hidden></video>
    <canvas id="placeholderCanvas" width="300" height="225" style="display:none;"  hidden></canvas>
    <img id="placeholderImg" src="~/favicon.ico" style="display:none;"  hidden/>
</div>
<div id="remoteVideos"></div>

<div id="recordControls" style="margin-top: 1rem;">
    <button class="btn btn-primary rounded" id="startRecordingBtn" disabled>Start Recording</button>
    <button class="btn btn-primary rounded" id="stopRecordingBtn" disabled>Stop Recording</button>
</div>

<button class="btn btn-info rounded" type="button" onclick="copyLink(event)">Share</button>

@{
    var link = $"{Context.Request.Scheme}://{Context.Request.Host}"
    + Url.Action("Join", "Call", new { id = ViewBag.RoomId });
}

<script>
  function copyLink(event) {
    event.preventDefault();
    const link = '@link';

    navigator.clipboard.writeText(link)
      .then(() => {
        alert('Link copied to clipboard!');
      })
      .catch(err => {
        console.error('Failed to copy: ', err);
      });
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
<script src="~/js/call.js"></script>
<script src="~/js/record.js"></script>



@{
    var userName = @ViewBag.Username as string;
}
<h2>Chat</h2>

@if (string.IsNullOrEmpty(userName))
{
    <form method="post">
        <label>Enter your name:</label>
        <input type="text" name="UserNameInput" required />
        <button type="submit">Join Chat</button>
    </form>
}
else
{
    <div>
        <p>Logged in as <strong>@userName</strong></p>
        
        <div>
            <input id="messageInput" type="text" placeholder="Public message..." />
            <button id="sendPublicButton">Send Public</button>
        </div>

        <div>
            <input id="privateMessageInput" type="text" placeholder="Private message..." />
            <input id="privateRecipientInput" type="text" placeholder="Recipient username" />
            <button id="sendPrivateButton">Send Private</button>
        </div>

        <ul id="messagesList"></ul>
    </div>

    <script src="~/js/chat.js"></script>
    <script> const currentUser = "@userName"; </script>
}
